#title {
  text-align: center;
}

#paleblue {
  background-color: #737CA1;
}

#paleturquoise {
  background-color: #AFEEEE;
}

#cornflowerblue {
  background-color: #6495ED;
}

#Sanaa {
  width: 400px;
  height: 500px;
}

#mainpage {
  text-align: center;
}
