body {
  text-align: center;
}

@media only screen and (max-width: 700px) {

  body {
    text-align: center;
    width: 100%;
  }

  .logo {
    display: inline-block;
    background-color: #202020;
    width: 350px;
    margin-top: 25px;
    margin-right: 10%;
    margin-left: 10%;
  }

  .statement {
    width: 825px;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
  }

  .teachers, .students-title, .students, .students-2 {
    margin-right: 10%;
    margin-left: 10%;
    width: 825px;
  }

  .students img {
    width: 300px;
    height: 600px;
  }

  #mobile {
    transform: rotate(360deg);
    margin-bottom: -40px;
  }

}

.logo {
  display: inline-block;
  background-color: #202020;
  width: 825px;
  margin-top: 25px;
  margin-right: 10%;
  margin-left: 10%;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
}

#vision {
  font-weight: bold;
}

#mission {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  height: 150px;
  margin: 0 10%;
}

.tech-instructor {
  font-size: 32px;
}

.tech-assistant {
  font-size: 24px;
}

.students-title {
  font-size: 36px;
  font-weight: 600;
}
.students, .students-2 {
  font-size: 20px;
}

.students {
  margin-top: -50px;
}

.students-2 {
  margin-top: 20px;
}

.students div, .students-2 div { 
  display: inline-block;
}

.students img, .students-2 img {
  width: 300px;
  height: 400px;
  transform: rotate(270deg);
  margin: 0px 60px;
}

.students h2 {
  margin-top: -40px;
}

.group-1 img, {
  margin-left: 0px;
}

.group-6 img, .group-7 img, .group-8 img {
  margin-top: 20px;
  transform: rotate(360deg);
}

#group-4 {
  margin-top: 30px;
  transform: rotate(360deg);
  width: 400px;
  height: 300px;
}

button {
  margin-top: 7px;
  border: 1px solid #DA2072;
  background-color: #DA2072;
  color: black;
  border-radius: 5px;
  font-size: 14px;
  
}

a {
  color: white;
}

#purple, #green, #red, #yellow, #violet, #blue, #pink, #orange {
  color: white;
}