body {
  text-align: center;
}
.logo {
  background-color: #202020;
  width: 825px;
  margin-left: 300px;
  margin-top: 25px;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  
}

#vision {
  font-weight: bold;
}

#mission {
  font-size: 20px;
  margin-left: 300px;
  text-align: center;
  width: 800px;
  height: 150px;
}

.tech-instructor {
  font-size: 32px;
}

.tech-assistant {
  font-size: 24px;
}