body {
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz6ppBAGNWcjrsXqPZgITJRZMiiWEIkhAI4cTFtdYSiybST_X4");
  background-repeat: no-repeat;
  background-size: cover;
  
}
