#title{
  text-align: center;
}

body{
  background-color: teal;
  text-align: center;
}

#pink{
  background-color: pink;
}

#gold{
  background-color: gold;
}

#red{
  background-color: red;
}

#blue{
  background-color: blue;
}

#purple{
  background-color: purple;
}
#green{
  background-color: green;
}
#yellow{
  background-color: yellow;
}
#orange{
  background-color: orange;
}
#brown{
  background-color: brown;
}
#gray{
  background-color: gray;
}

#indigo{
  background-color: indigo;
}
