#title {
  text-align: center;
}

#girl {
  width: 375px;
  height: 400px;
}

#lavender {
  background-color: lavender;
}

#teal {
  background-color: teal;
}

#indigo {
  background-color: indigo;
}

#girls {
  width: 375px;
  height: 400px;
}

#good {
  width: 400px;
  height: 400px;
}
